<link class="csvinit" rel="stylesheet" data-attrs="href=tmplrelpath('../default.css')" data-init="ready_after_load()" />
<style>
#csvtable .csvcolumn {
  display: none;
}
#csvtable .csvcolumn[data-sortable] {
  display: block;
  cursor: pointer;
}
.items-list dl {
  margin-bottom: 2px;
}
.item-icons .item-icon {
  width: 30px;
  height: 30px;
}
.item-thumbnail {
  height: 100px;
}
.item-thumbnail img {
  clip: rect(0px, 110px, 100px, 0px);
}
</style>
<div data-init-block="row_icons">
	<!-- icon for men -->
  <img class="item-icon" data-init="if(not(eq(row.6,'1')),this.remove())" data-attrs="src=tmplrelpath('Homme.png')" />
  <!-- icon for women -->
  <img class="item-icon" data-init="if(not(eq(row.6,'2')),this.remove())" data-attrs="src=tmplrelpath('Femme.png')" />
  <!-- icon -->
  <img class="item-icon" data-attrs="src=tmplrelpath(row.9)" />
  <!-- wide icon -->
  <img class="item-icon" data-init="if(not(eq(row.3,'1')),this.remove())" data-attrs="src=tmplrelpath('Wide.png')" />
  <!-- top of the pop icon -->
  <img class="item-icon" data-init="if(not(eq(row.20,'1')),this.remove())" data-attrs="src=tmplrelpath('TopOfThePop.png')" />
</div>
<div id="csvtable">
  <div class="sort-list">
    <label>Tri par:</label>
    <div class="btn-group">
      <button type="button" class="btn btn-default csvcolumn" data-name="Marque" data-key="11" data-sortable data-filterable data-searchable>
        Marque
        <dict class="filter-info">
          <key>Type</key>
          <string>MultipleChoice</string>
          <key>AllChoice</key>
          <string>All</string>
          <key>Options</key>
          <array>
            <string>Apo</string>
            <string>Arbor</string>
            <string>Bataleon</string>
            <string>Burton</string>
            <string>Capita</string>
            <string>DC Snowboards</string>
            <string>Drake</string>
            <string>Dupraz</string>
            <string>Endeavor</string>
            <string>F2</string>
            <string>Flow</string>
            <string>Furlan</string>
            <string>GNU</string>
            <string>Imperium</string>
            <string>Jones</string>
            <string>K2 Snowboarding</string>
            <string>Kessler</string>
            <string>Lib Tech</string>
            <string>Lobster</string>
            <string>Nidecker</string>
            <string>Nikita</string>
            <string>Nitro</string>
            <string>Ride</string>
            <string>Rome</string>
            <string>Rossignol</string>
            <string>Roxy</string>
            <string>Salomon</string>
            <string>Santa Cruz</string>
            <string>Slash</string>
            <string>Verdad</string>
            <string>Völkl</string>
            <string>Whitegold</string>
            <string>Windlip</string>
            <string>Yes.</string>
          </array>
        </dict>
      </button>
      <button type="button" class="btn btn-default csvcolumn" data-name="Gamme" data-key="5" data-sortable data-searchable>Gamme</button>
      <button type="button" class="btn btn-default csvcolumn" data-name="Prix" data-key="17" data-sortable data-filterable data-searchable>
        Prix
        <!-- plist dict tag -->
        <dict class="sort-info">
          <key>DataType</key>
          <string>real</string>
        </dict>
        <dict class="filter-info">
          <key>Type</key>
          <string>Range</string>
        </dict>
      </button>
      <div class="csvcolumn" data-name="Genre" data-key="6" data-filterable>
        <dict class="filter-info">
          <key>Type</key>
          <string>MultipleChoice</string>
          <key>Options</key>
          <array>
            <array>
              <string>2</string>
              <string>Femme</string>
            </array>
            <array>
              <string>1</string>
              <string>Homme</string>
            </array>
          </array>
          <key>Order</key>
          <integer>0</integer>
        </dict>
      </div>
      <div class="csvcolumn" data-name="Modele" data-key="12" data-searchable>
      </div>
    </div>
  </div>
  <ul class="items-list">
    <li data-foreach="rows as i=>row" data-bind="click=open_row_page('#detailpage',i,row)">
      <!-- thumbnail -->
      <span class="item-thumbnail">
        <img data-attrs="src=row.10" />
      </span>
      <h3 class="item-title" data-content="row.11"></h3>
      <dl class="item-pair-list">
        <dt>Modèle:</dt>
        <dd data-content="row.12"></dd>
        <dt>Gamme:</dt>
        <dd data-content="row.5"></dd>
        <dt>Budget:</dt>
        <dd class="item-budget" data-init="replace('%d',decimalFormat(int(2),row.17))">%d &#8364;</dd>
      </dl>
      <div class="item-icons" data-block="row_icons">
      </div>
    </li>
  </ul>
</div>
<div id="detailpage" class="csvpage">
  <div class="csvpage-navbar">
    <a class="close-btn" href="#"><i class="glyphicon glyphicon-remove-circle"></i></a>
    <div class="btn-group nav-btns">
      <button type="button" class="previous-btn btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
      <button type="button" class="next-btn btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
    <button type="button" class="row-fav-toggle-btn btn btn-default">
      <span class="is-enabled"><i class="glyphicon glyphicon-star"></i></span>
      <span class="is-disabled"><i class="glyphicon glyphicon-star-empty"></i></span>
    </button>
  </div>
  <div id="detailpagec"class="csvpage-content">
    <style>
		#detailpagec ol, #detailpagec ul {
			list-style: none;
		}
		#detailpagec blockquote, #detailpagec q {
			quotes: none;
		}
		#detailpagec blockquote:before, #detailpagec blockquote:after,
		#detailpagec q:before, #detailpagec q:after {
			content: '';
			content: none;
		}
		#detailpagec table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		
    #detailpagec
    {
      font-family: "Helvetica neue";
      background-color: #ffffff;
    }
    
		#detailpagec b
		{
			font-weight: bold;
		}
		
		#detailpagec img
		{
			vertical-align: top;
		}
    
    @media (max-width:600px) {

		  #detailpagec div.badges img
		  {
			  margin-right: 7px;
			  margin-bottom: 6px;
		  }
		  #detailpagec div.badges img.lastone
		  {
			  margin-right: 0px;
			  margin-bottom: 6px;
		  }
      #detailpagec span.title
      {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
			  padding-left: 15px;
			  margin-left: 0px;
      }
      #detailpagec p.Test_baseline
      {
        text-transform: uppercase;
        font-weight: bold;
			  font-size: 80%;
        margin-top: 15px; 
        margin-bottom: 2px;
        
      }
		  
      #detailpagec span.modele
      {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
			  padding-bottom: 5px;
      }
      #detailpagec span.budget
      {
        color: #000000;
        text-transform: uppercase;
        font-size: 16px;
        text-align: right;
        width: 100%;
        font-weight: bold;
      }
		  
		  #detailpagec div.title
		  {
			  background-color: #e2001a;
			  color: white;
			  font-size: 18px;
			  font-weight: bold;
        display: block; 
        margin-left:auto; 
        margin-right: auto;
			  height: 30px;
			  padding-left: 15px;
			  text-transform: uppercase;
		  }
      #detailpagec div.main
      {
        padding-left: 15px;
        padding-right: 15px;
      }
      
      #detailpagec div.main table.caracteristics img
      {
        margin: 2px;
      }
      
      #detailpagec div.tableview
      {
			  padding-left: 10px;
      }
      #detailpagec div.tableview table
      {
        border-collapse: collapse;
        border-style: solid;
        border-width: 2px;
        border-color: white;
      }
      #detailpagec div.tableview table th
      {
        background-color: white;
        color: gray;
        text-transform: uppercase;
        border-collapse: collapse;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        text-align: center;
      }
      #detailpagec div.tableview table td
      {
			  color: gray;
			  font-size: 12px;
        background-color: #cccccc;
        border-collapse: collapse;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        border-color: white;
			  padding: 5px;
			  font-weight: bold;
		  }
      
      #detailpagec div.ski_preview
      {
        background-color: white;
        display: block; 
        margin-left:auto; 
        margin-right: auto;
			  margin-top: 5px;
			  margin-bottom: 15px;
        border-color: gray;
        border-style: none;
        border-width: 0px;
			  padding: 0px;
      }
		  
		  #detailpagec div.stars
		  {
			  border-color: #e2001a;
			  color: #e2001a;
        border-style: solid;
        border-width: 4px;
        -webkit-border-radius: 15px;
			  padding: 15px 15px 0px 15px;
			  text-align: left;
			  margin-bottom: 15px;
		  }
		  #detailpagec div.stars p
		  {
			  font-weight: bold;
			  margin: 0px;
			  padding: 0px;
		  }
		  
		  #detailpagec div.stars img
		  {
			  margin: 0px;
			  padding: 0px;
			  padding-bottom: 10px;
		  }
      #detailpagec div.ski_preview img
      {
        width: 100%;
        margin: 0px;
      }
      #detailpagec .large-screen {
        display: none;
      }
      #detailpagec .small-screen {
        display: block;
      }
    }
    @media (min-width:601px) {
      #detailpagec .large-screen {
        display: block;
      }
      #detailpagec .small-screen {
        display: none;
      }
			#detailpagec div.badges img
			{
				margin-right: 7px;
				margin-bottom: 6px;
			}
			#detailpagec div.badges img.lastone
			{
				margin-right: 0px;
				margin-bottom: 6px;
			}
      #detailpagec span.title
      {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
				padding-left: 15px;
				margin-left: 0px;
      }
      #detailpagec p.Test_baseline
      {
        text-transform: uppercase;
        font-weight: bold;
      }
			
      #detailpagec span.modele
      {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
				padding-bottom: 5px;
      }
      #detailpagec span.budget
      {
        color: #000000;
        text-transform: uppercase;
        font-size: 24px;
        text-align: right;
        width: 100%;
        font-weight: bold;
      }
			
			#detailpagec div.title
			{
				background-color: #e2001a;
				color: white;
				font-size: 24px;
				font-weight: bold;
        display: block; 
        margin-left:auto; 
        margin-right: auto;
				height: 40px;
				padding-left: 15px;
				text-transform: uppercase;
			}
      #detailpagec div.main
      {
        padding-left: 15px;
        padding-right: 15px;
      }
      
      #detailpagec div.main table.caracteristics img
      {
        margin: 2px;
      }
      
      #detailpagec div.tableview table
      {
        border-collapse: collapse;
        border-style: solid;
        border-width: 2px;
        border-color: white;
      }
      #detailpagec div.tableview table th
      {
        background-color: white;
        color: gray;
        text-transform: uppercase;
        border-collapse: collapse;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        text-align: center;
      }
      #detailpagec div.tableview table td
      {
				color: gray;
				font-size: 12px;
        background-color: #cccccc;
        border-collapse: collapse;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        border-color: white;
				padding: 5px;
				font-weight: bold;
			}
      
      #detailpagec div.ski_preview
      {
        background-color: white;
        display: block; 
        margin-left:auto; 
        margin-right: auto;
				margin-top: 5px;
				margin-bottom: 15px;
        border-color: gray;
        border-style: solid;
        border-width: 2px;
        -webkit-border-radius: 4px;
				-webkit-box-shadow: inset 0 0 5px#888;
				padding: 2px;
      }
			
			#detailpagec div.stars
			{
				border-color: #e2001a;
				color: #e2001a;
        border-style: solid;
        border-width: 4px;
        -webkit-border-radius: 15px;
				padding: 15px 15px 0px 15px;
				text-align: left;
				margin-bottom: 15px;
			}
			#detailpagec div.stars p
			{
				font-weight: bold;
				margin: 0px;
				padding: 0px;
			}
			
			#detailpagec div.stars img
			{
				margin: 0px;
				padding: 0px;
				padding-bottom: 10px;
			}
      #detailpagec div.ski_preview img
      {
        width: 100%;
        margin: 0px;
      }

    }
    </style>
    <div class="title">
			<div data-content="row.11" style="display: table-cell; vertical-align: middle; height: 30px;">
			</div>
		</div>
    
    <div class="main">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>	
					<td width="75%"><span data-content="row.12" class="modele"></span></td>
					<td width="75%" align="right"><span class="budget" data-init="replace('%d',decimalFormat(int(2),row.17))">%d &#8364;</span></td>
				</tr>
			</table>
			
			
			<div class="ski_preview">
        <img id="imagePreview" data-attrs="src=row.10" class="zoomable-img" data-zoomable-zoom="3" />
      </div>
			<div class="small-screen">
			  <div class="badges" style="vertical-align: top;" data-block="row_icons">
			  </div>

        <div style="font-size: 75%; text-align:left; background-color: #cccccc; padding: 3px; line-height: 120%; margin-bottom: 2px;">
          <span style="color: #e2001a; font-weight: bold;">Gamme :</span> <span data-content="row.5"></span><br />
          <span style="color: #e2001a; font-weight: bold;">Taille testée :</span> <span data-content="row.18"></span><br />
				  <span style="color: #e2001a; font-weight: bold;">Tailles disponibles :</span> <span data-content="row.19"></span><br />
				  <span style="color: #e2001a; font-weight: bold;">Cambre :</span> <span style="text-transform:capitalize" data-content="row.21.replace('Cambre ','')"></span><br />
				  <span style="color: #e2001a; font-weight: bold;">Niveau :</span> <span data-content="row.14"></span><br />
				  <span style="color: #e2001a; font-weight: bold;">Pratique :</span> <span data-content="row.17"></span>
        </div>
        
        <p class="Test_baseline"></p> <!-- Couldn't find the data to match -->

			  <p style="line-height: 125%; text-align: justify; margin-bottom: 2px; font-size: 80%;" data-content="row.2"></p>
			  
			  <p style="margin-bottom: 2px; font-size: 12px;">
			    <img data-attrs="src=tmplrelpath('plus_F2.png')" style="vertical-align: middle; margin-right: 10px; "/><span data-content="row.16"></span>
			  </p>
			  <p style="margin-bottom: 20px; font-size: 12px;">
			    <img data-attrs="src=tmplrelpath('moins_G2.png')" style="vertical-align: middle; margin-right: 10px; "/><span data-content="row.13"></span>
			  </p>

			  <div class="tableview" data-content-html="row.4"></div>
      </div>
    </div>
    <div class="large-screen">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="80%" valign="top" style="padding-right: 15px;">
            <div style="font-size: 85%; text-align:left; background-color: #cccccc; padding: 6px; line-height: 120%; margin-bottom: 7px;">
              <span style="color: #e2001a; font-weight: bold;">GAMME :</span> <span data-content="row.5"></span><br />
              <span style="color: #e2001a; font-weight: bold;">TAILLE TESTÉE :</span> <span data-content="row.18"></span><br />
							<span style="color: #e2001a; font-weight: bold;">TAILLES DISPONIBLES :</span> <span data-content="row.19"></span><br />
							<span style="color: #e2001a; font-weight: bold;">CAMBRE :</span> <span style="text-transform:capitalize" data-content="row.21.replace('Cambre ','')"></span><br />
 							<span style="color: #e2001a; font-weight: bold;">NIVEAU :</span> <span data-content="row.14"></span><br />
							<span style="color: #e2001a; font-weight: bold;">PRATIQUE :</span> <span data-content="row.17"></span>
            </div>
						
						<p class="Test_baseline" style="margin-top: 15px; margin-bottom: 15px"></p> <!-- Couldn't find the data to match -->
						
						<p style="line-height: 125%; text-align: justify; margin-bottom: 10px;" data-content="row.2"></p>
						
						<p style="margin-bottom: 2px;">
						  <img data-attrs="src=tmplrelpath('plus_F2.png')" style="vertical-align: middle; margin-right: 10px; "/><b data-content="row.16"></b>
						</p>
						<p style="margin-bottom: 20px;">
						  <img data-attrs="src=tmplrelpath('moins_G2.png')" style="vertical-align: middle; margin-right: 10px; "/><b data-content="row.13"></b>
						</p>
          </td>
          <td width="20%" align="left" valign="top" style="vertical-align: top; margin-top: 0px; padding-top: 0px;">
						<div class="badges" style="vertical-align: top;" data-block="row_icons"></div>
						<div class="tableview" data-content-html="row.4"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
