body {
  background: #3cc533; /* Old browsers */
  background: -moz-linear-gradient(top, #3cc533 0%, #ecfad1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3cc533), color-stop(100%,#ecfad1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3cc533 0%,#ecfad1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3cc533 0%,#ecfad1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3cc533 0%,#ecfad1 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3cc533 0%,#ecfad1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cc533', endColorstr='#ecfad1',GradientType=0 ); /* IE6-9 */
}

#covers-wrp {
  height: 700px;
  overflow: hidden;
  padding-top: 60px;
}

#covers-wrp.no-featured {
  height: auto;
  padding-top: 0px;
}

#featured-cover {
  /* height: 410px; */
  height: 0px;
  overflow: hidden;
}

#featured-cover .left-side {
  float: left;
  width: 370px;
  padding-left: 60px;
}

.buttons-list {
  padding-left: 50px;
  padding-right: 50px;
}

#featured-cover .right-side {
  margin-left: 380px;
  padding-left: 10px;
  padding-right: 60px;
}


#featured-cover .cover-image-wrp {
  overflow: hidden;
  height: 410px;
}

#featured-cover .cover-image-wrp img {
  height: 100%;
}

.buttons-list .info {
  float:left;
  width: 200px;
}

.buttons-list .info .title {
  margin-top: 6px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: normal;
}
.buttons-list .info .date {

}

.buttons-list .open-btn-wrp {
  margin-left: 200px;
  height: 70px;
}

.buttons-list > div {
  margin-bottom: 15px;
}

.subs-btn {
  background: none;
  color: black;
  padding: 6px;
  border: 1px solid black;
  display: block;
  width: 100%;
  height: 65px;
  border-radius: 14px;
}

.subs-btn .single-label {
  font-size: 20px;
}
a.subs-btn .single-label {
  display: inline-block;
  margin-top: 10px;
}

.subs-btn .price,
.subs-btn .label-big {
  font-size: 18px;
}

.subs-btn .price,
.subs-btn .label-big,
.subs-btn .label {
  display: block;
  color: black;
  text-weight: normal;
}

.clearb {
  clear: both;
}

#covers-list {
  height: 170px;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
}

.no-featured #covers-list {
  white-space: normal;
  overflow: visible;
  height: auto;
  margin-top: 20px;
}

#covers-list li {
  display: inline-block;
  text-align: center;
}
.cover-li {
  width: 110px;
  height: 170px;
  margin: 0px 40px;
  vertical-align: top;
}

.no-featured .cover-item {
  vertical-align: top;
  overflow: hidden;
  width: 115px;
  height: 195px;
  font-size: 12px;
  margin: 10px auto;
}

.no-featured .cover-item img {
  width: 115px;
  height: 150px;
  display: block;
}

#covers-list img {
  width: 100%;
}

#covers-list span {
  display: block;
  white-space: normal;
}


#cover-details .modal-dialog {
  width: 600px;
}


#cover-details .left-img-wrp {
  padding: 10px;
  height: 300px;
  overflow: hidden;
  float: left;
  width: 250px;
}
#cover-details .left-img-wrp img {
  height: 100%;
}
#cover-details .summary,
#conve-details .description {
  margin-top: 10px;
  margin-left: 260px;
}
#cover-details .summary .title {
  font-weight: bold;
  font-size: 16px;
}
#cover-details .summary .summary-list {
  padding-left: 5px;
  list-style: none;
}

.is-preview, .is-full {
  display: none;
}
.open-btn-full .is-full, .open-btn-preview .is-preview {
  display: block;
} 