[submodule "src/admin_assets/submodule/magic"]
	path = src/admin_assets/submodule/magic
	url = https://github.com/miniMAC/magic.git
[submodule "src/admin_assets/submodule/flot"]
	path = src/admin_assets/submodule/flot
	url = https://github.com/flot/flot.git
[submodule "src/admin_assets/submodule/mousewheel"]
	path = src/admin_assets/submodule/mousewheel
	url = https://github.com/brandonaaron/jquery-mousewheel.git
[submodule "src/admin_assets/submodule/tablesorter"]
	path = src/admin_assets/submodule/tablesorter
	url = https://github.com/Mottie/tablesorter.git
[submodule "src/admin_assets/submodule/countdown"]
	path = src/admin_assets/submodule/countdown
	url = https://github.com/kbwood/countdown.git
[submodule "src/admin_assets/submodule/uniform"]
	path = src/admin_assets/submodule/uniform
	url = https://github.com/pixelmatrix/uniform.git
[submodule "src/admin_assets/submodule/cssbeautify"]
	path = src/admin_assets/submodule/cssbeautify
	url = https://github.com/senchalabs/cssbeautify.git
[submodule "src/admin_assets/submodule/timepicker"]
	path = src/admin_assets/submodule/timepicker
	url = https://github.com/jdewit/bootstrap-timepicker.git
[submodule "src/admin_assets/submodule/daterangepicker"]
	path = src/admin_assets/submodule/daterangepicker
	url = https://github.com/dangrossman/bootstrap-daterangepicker.git
[submodule "src/admin_assets/submodule/autosize"]
	path = src/admin_assets/submodule/autosize
	url = https://github.com/jackmoore/autosize.git
[submodule "src/admin_assets/submodule/wysihtml5"]
	path = src/admin_assets/submodule/wysihtml5
	url = https://github.com/jhollingworth/bootstrap-wysihtml5.git
[submodule "src/admin_assets/submodule/plupload"]
	path = src/admin_assets/submodule/plupload
	url = https://github.com/moxiecode/plupload.git
[submodule "src/admin_assets/submodule/animate"]
	path = src/admin_assets/submodule/animate
	url = https://github.com/daneden/animate.css.git
[submodule "src/admin_assets/submodule/validationengine"]
	path = src/admin_assets/submodule/validationengine
	url = https://github.com/posabsolute/jQuery-Validation-Engine.git
[submodule "src/admin_assets/submodule/pagedown"]
	path = src/admin_assets/submodule/pagedown
	url = https://github.com/samwillis/pagedown-bootstrap.git
[submodule "src/admin_assets/submodule/formwizard"]
	path = src/admin_assets/submodule/formwizard
	url = https://github.com/thecodemine/formwizard.git
[submodule "src/admin_assets/submodule/touch-punch"]
	path = src/admin_assets/submodule/touch-punch
	url = https://github.com/furf/jquery-ui-touch-punch.git
[submodule "src/admin_assets/submodule/switch"]
	path = src/admin_assets/submodule/switch
	url = https://github.com/nostalgiaz/bootstrap-switch.git
[submodule "src/admin_assets/submodule/gritter"]
	path = src/admin_assets/submodule/gritter
	url = https://github.com/jboesch/Gritter.git
[submodule "src/admin_assets/submodule/form"]
	path = src/admin_assets/submodule/form
	url = https://github.com/malsup/form.git
[submodule "src/admin_assets/submodule/tagsinput"]
	path = src/admin_assets/submodule/tagsinput
	url = https://github.com/xoxco/jQuery-Tags-Input.git
[submodule "src/admin_assets/submodule/validVal"]
	path = src/admin_assets/submodule/validVal
	url = https://github.com/BeSite/jQuery.validVal.git
[submodule "src/admin_assets/submodule/epub.js"]
	path = src/admin_assets/submodule/epub.js
	url = https://github.com/futurepress/epub.js.git

[submodule "src/admin_assets/submodule/mouseweel"]
	path = src/admin_assets/submodule/mouseweel
	url = https://github.com/brandonaaron/jquery-mousewheel.git
