---
title: Authorizations
page_id: Authorizations
stylesheets:
- css/pages/preview.min.css
javascripts:
- lib/querystring.min.js
- lib/jquery.plist.js
- js/helper.js
- js/pages/authorizations.js

---
<div class="row">
  <div class="col-xs-12">
    <small>Authorization status: </small>
    <span id="auth-status"></span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button type="button" id="auth-gen">Generate Authorization</button>
  </div>
</div>
