---
title: Form Builder
icon: fa fa-cogs
stylesheets:
- lib/formbuilder/formbuilder-min.css
javascripts:
- lib/querystring.min.js
- lib/path.min.js
- lib/url.min.js
- js/helper.js
- lib/jquery.ui.core.min.js
- lib/jquery.ui.widget.min.js
- lib/jquery.ui.mouse.min.js
- lib/jquery.ui.draggable.min.js
- lib/jquery.ui.droppable.min.js
- lib/jquery.ui.sortable.min.js
- lib/jquery.scrollWindowTo.js
- lib/underscore-min.js
- lib/underscore.mixin.deepExtend.js
- lib/rivets.min.js
- lib/backbone/backbone.js
- lib/backbone/deep-model.min.js
- lib/formbuilder/formbuilder-min.js
- js/pages/formbuilder.js
empty_page: 1
---
<div class="editor-main-menu">
  <div class="dropdown">
    <button id="file-dropdown-btn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      File
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="file-dropdown-btn">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="open-btn">Open</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="index.html">Back</a></li>
    </ul>
  </div>
</div>

  <style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #444;
    font-family: sans-serif;
  }

  .fb-main {
    background-color: #fff;
    min-height: 600px;
    max-width: inherit !important;
  }

  input[type=text] {
    height: 26px;
    margin-bottom: 3px;
  }

  select {
    margin-bottom: 5px;
    font-size: 40px;
  }
  </style>
  <div class='fb-main'></div>
{{> open_publication_dialog }}
