---
topTitle: Forms
title: Form Wizard
icon: fa fa-magic
stylesheets:
- lib/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css
- lib/gritter/css/jquery.gritter.css
- lib/uniform/themes/default/css/uniform.default.min.css
- css/bootstrap-fileupload.min.css
- lib/jasny/css/jasny-bootstrap.min.css
cdnjs:
- //ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js
javascripts:
- lib/plupload/js/plupload.full.min.js
- lib/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js
- lib/gritter/js/jquery.gritter.min.js
- lib/uniform/jquery.uniform.min.js
- lib/jasny/js/jasny-bootstrap.min.js
- lib/form/jquery.form.js
- lib/formwizard/js/jquery.form.wizard.js
- lib/jquery-validation-1.11.1/dist/jquery.validate.min.js
- lib/jquery-validation-1.11.1/localization/messages_ja.js
scripts: $(function() { formWizard(); });
---
<div class="row">
    <div class="col-lg-12">
        <div class="box danger">
            <header>
                <h5>Page under construction</h5>
            </header>
            <div class="body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-lg-4">Link to</label>
                        <div class="col-lg-8"><input type="text"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4">Ad Image</label>
                        <div class="col-lg-8">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
				<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
				  <img data-src="holder.js/100%x100%" alt="...">
				</div>
				<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
				<div>
				  <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
				  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
				</div>
			      </div>

                        </div>
                    </div>
                    <div class="alert alert-warning"><strong>Notice!</strong> Image preview only works in IE10+, FF3.6+, Chrome6.0+ and Opera11.1+. In older browsers and Safari, the filename is shown instead.</div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
