---
title: Interstitials
icon: fa fa-magic
stylesheets:
- lib/gritter/css/jquery.gritter.css
- lib/uniform/themes/default/css/uniform.default.min.css
- css/bootstrap-fileupload.min.css
- lib/jasny/css/jasny-bootstrap.min.css
- css/pages/interstitials.min.css
cdnjs:
- //ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js
javascripts:
- lib/gritter/js/jquery.gritter.min.js
- lib/uniform/jquery.uniform.min.js
- lib/jasny/js/jasny-bootstrap.min.js
- lib/form/jquery.form.js
- lib/formwizard/js/jquery.form.wizard.js
- lib/jquery-validation-1.11.1/dist/jquery.validate.min.js
- lib/jquery-validation-1.11.1/localization/messages_ja.js
- lib/datatables/jquery.dataTables.js
- lib/datatables/DT_bootstrap.js
- lib/touch-punch/jquery.ui.touch-punch.min.js
- lib/jquery.plist.js
- js/pages/interstitials.min.js

scripts: //$(function() { formWizard(); });
---
<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <div id="collapse4" class="body">
        <p><a data-toggle="modal" data-original-title="New" data-placement="bottom" class="btn btn-primary" href="#adModal" localize>New Ad</a></p>
        <table id="adsDataTable" class="table table-bordered table-condensed table-hover table-striped">
		  <thead>
			<tr>
			  <th localize>Image</th>
			  <th localize>Name</th>
			  <th class="text-center" style="width: 80px;" localize>Status</th>
			</tr>
		  </thead>
		  <tbody>
		  </tbody>                
		</table>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- modal-->
<div id="adModal" class="modal fade new-ad-dlg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span class="ad-dlg-new" localize>Create new ad</span>
          <span class="ad-dlg-update" localize>Update ad</span>
        </h4>
      </div>
      <div class="modal-body">
        <form><!-- Ad Title -->
          <div class="form-group">
            <label class="control-label col-lg-4" localize>Title</label>
            <div class="col-lg-3">
              <input type="text" name="Title" placeholder="Title" class="form-control" localize="_.attr('placeholder','title_placeholder')">
            </div>
		  </div>
          <div class="form-group">
            <button class="btn btn-primary set-title-btn">
              <span localize>Set</span>
            </button>
          </div>
        </form>
        <div class="ad-body-form body">
          <form class="form-horizontal">
            <!-- list of imageUpload items -->
            <ul class="images-list list-group">
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad~iphone.png 640x960</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad~iphone.png" data-required-image-width="640" data-required-image-height="960"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-568h@2x.png 640x1136</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-568h@2x.png" data-required-image-width="640" data-required-image-height="1136"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-Portrait~ipad.png 1536x2048</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-Portrait~ipad.png" data-required-image-width="1536" data-required-image-height="2048"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-Landscape~ipad.png 2048x1536</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-Landscape~ipad.png" data-required-image-width="2048" data-required-image-height="1536"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-drawable-port.png 320x480</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-drawable-port.png" data-required-image-width="320" data-required-image-height="480"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-drawable-normal-port.png 480x800</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-drawable-normal-port.png" data-required-image-width="480" data-required-image-height="800"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-drawable-large-port.png 600x976</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-drawable-large-port.png" data-required-image-width="600" data-required-image-height="976"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-drawable-large-land.png 1024x552</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-drawable-large-land.png" data-required-image-width="1024" data-required-image-height="552"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-drawable-xlarge-port.png 800x1232</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-drawable-xlarge-port.png" data-required-image-width="800" data-required-image-height="1232"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label class="control-label col-lg-4">Ad-drawable-xlarge-land.png 1280x752</label>
                  <div class="col-lg-8">
                    <div class="fileinput fileinput-new" 
                         data-provides="fileinput">
				      <div class="fileinput-preview thumbnail" 
                           data-trigger="fileinput" 
                           style="width: 200px; height: 150px;"></div>
				      <div>
				        <span class="btn btn-default btn-file"><span class="fileinput-new" localize>Select image</span><span class="fileinput-exists fileinput-change" localize>Change</span><input accept="image/png" type="file" name="Ad-drawable-xlarge-land.png" data-required-image-width="1280" data-required-image-height="752"></span>
				        <a href="#" class="btn btn-default fileinput-exists fileinput-remove" data-dismiss="fileinput" localize>Remove</a>
				      </div>
			        </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="form-group">
              <label class="control-label col-lg-4" localize>Link</label>
              <div class="col-lg-3">
                <input type="text" name="Link" placeholder="Link" class="form-control" localize="_.attr('placeholder','link_placeholder')">
              </div>
		    </div>
            <div class="form-group">
              <label class="control-label col-lg-4" localize>Delay</label>
              <div class="col-lg-3">
                <input type="text" name="Delay" placeholder="Delay" class="form-control" localize="_.attr('placeholder','delay_placeholder')">
              </div>
		    </div>
		    <div class="form-group">
              <div class=" col-lg-4"></div>

              <div class="col-lg-8">
                <button class="btn btn-primary ladda-button action-btn" data-style="slide-down">
                  <span class="ladda-label">
                    <span class="ad-dlg-new" localize>Create</span>
                    <span class="ad-dlg-update" localize>Update</span>
                  </span>
                </button>
              </div>
            </div> 
          </form>
        </div><!-- ad-body-form -->
      </div><!-- modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --><!-- /#helpModal -->
