---
title: Preview
stylesheets:
- css/pages/preview.min.css
javascripts:
- lib/querystring.min.js
- js/pages/preview.min.js

---
<p>
  <a id="reader-link" href="">See in fullscreen</a>
</p>
<div id="reader-wrapper">
  <!-- index.js should add iframe in here -->
</div>

