---
title: Push
icon: fa fa-bell
stylesheets:
- lib/uniform/themes/default/css/uniform.default.css
- lib/inputlimiter/jquery.inputlimiter.1.0.css
- lib/chosen/chosen.min.css
- lib/colorpicker/css/colorpicker.css
- lib/tagsinput/jquery.tagsinput.css
- lib/daterangepicker/daterangepicker-bs3.css
- lib/datepicker/css/datepicker.css
- lib/timepicker/css/bootstrap-timepicker.min.css
- lib/switch/build/css/bootstrap3/bootstrap-switch.min.css
- lib/jasny/css/jasny-bootstrap.min.css
- lib/datatables/css/demo_page.css
- lib/datatables/css/DT_bootstrap.css
cdnjs:
- //ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js
javascripts:
- lib/uniform/jquery.uniform.min.js
- lib/inputlimiter/jquery.inputlimiter.1.3.1.min.js
- lib/chosen/chosen.jquery.min.js
- lib/colorpicker/js/bootstrap-colorpicker.js
- lib/tagsinput/jquery.tagsinput.min.js
- lib/validVal/src/js/jquery.validVal.min.js
- lib/daterangepicker/daterangepicker.js
- lib/daterangepicker/moment.min.js
- lib/datepicker/js/bootstrap-datepicker.js
- lib/timepicker/js/bootstrap-timepicker.min.js
- lib/switch/build/js/bootstrap-switch.min.js
- lib/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js
- lib/autosize/jquery.autosize.min.js
- lib/jasny/js/jasny-bootstrap.min.js
- lib/datatables/jquery.dataTables.js
- lib/datatables/DT_bootstrap.js
- lib/tablesorter/js/jquery.tablesorter.min.js
- lib/touch-punch/jquery.ui.touch-punch.min.js
scripts: 
- $(function() { formGeneral(); }); $(function() { metisTable();});
---
<div class="row">
	<div class="col-lg-12">
		<div class="box ">

			<header>
				<div class="icons"><i class="fa fa-bell"></i></div>
				<h5>New message</h5>
			</header>
			<div class="body">
           <form class="form-horizontal" id="notification-form">

                 <div class="form-group">
                    <label for="autosize" class="control-label col-lg-2">Message text</label>

                    <div class="col-lg-10">
                        <textarea id="message-textarea" class="autosize form-control"></textarea>
                    </div>
                </div> 
                  <div class="form-group">
                    <div class=" col-lg-2"></div>

                    <div class="col-lg-10">
                        <button class="btn btn-primary ladda-button" data-style="slide-down">
                            <span class="ladda-label">Send</span>
                        </button>
                    </div>
                </div> 
            </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
        <div class="box">
            <header>
                <div class="icons"><i class="fa fa-table"></i></div>
                <h5>Messages sent</h5>
            </header>
            <div id="collapse4" class="body">
                <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th>Date sent</th>
						<th>Message</th>
						<th>Qty sent</th>
					</tr>
					</thead>
					<tbody>
					</tbody>                
				</table>
            </div>
        </div>
    </div>
</div>
