---
title: Tracking
page_id: Tracking
icon: fa fa-bar-chart-o
stylesheets:
- lib/pivottable/pivot.min.css
- css/pages/analytics.css
- css/pages/pivots.min.css
javascripts:
- lib/jquery.plist.js
- lib/querystring.min.js
- lib/path.min.js
- lib/async.js
- lib/d3.min.js
- lib/jquery.ui.core.min.js
- lib/jquery.ui.widget.min.js
- lib/jquery.ui.mouse.min.js
- lib/jquery.ui.draggable.min.js
- lib/jquery.ui.droppable.min.js
- lib/jquery.ui.sortable.min.js
- lib/pivottable/pivot.min.js
- js/tablereader.js
- js/pages/analytics.js


--- 
        <div class="col-lg-12">
                <div class="box">
                  <header>
	            <div class="icons"><i class="fa fa-bar-chart-o"></i></div>
  	              <h5 localize>App</h5>
  	           </header>

                  <div class="body">
 			<div> Cf <a href="https://www.google.com/analytics/web/?hl=en">Google Analytics</a>, <a href="https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa">iTunes Connect</a>, & <a href="https://play.google.com/apps/publish">Google Play</a>.
               </div>
                </div>
              </div>
        </div>
         

 			<div class="col-lg-12">
                <div class="box">
                  <header>
	            <div class="icons"><i class="fa fa-table"></i></div>
  	              <h5 localize>Publications</h5>

                  </header>
                  <div  class="body">
					<div id="page-loading-indicator">
						  <img src="assets/img/loader-big-snake.gif" alt="Loading..." />
					</div>
					<div id="auth-button-wrp"></div>
					<div id="pivotstable"></div>
					<div id="pivotstable2"></div>

                   </div>
     			</div>
              </div>         
          
          
          
		</div>
