---
title: Tracking
page_id: Tracking
icon: fa fa-bar-chart-o
stylesheets:
- css/pages/analytics.css
javascripts:
- js/pages/analytics.js
- lib/jquery.plist.js
- lib/async.js
--- 
<div id="page-loading-indicator">
  <img src="{{ assets }}/img/loader-big-snake.gif" alt="Loading..." />
</div>
<div id="auth-button-wrp"></div>
<div class="views">
  <div class="views-row">
    <div class="view">
      <div id="country-chart"></div>
    </div>
    <div class="view">
      <div id="device-chart"></div>
    </div>
  </div>
</div>
