---
title: Users
icon: fa fa-user
stylesheets:
- lib/uniform/themes/default/css/uniform.default.css
- lib/inputlimiter/jquery.inputlimiter.1.0.css
- lib/chosen/chosen.min.css
- lib/colorpicker/css/colorpicker.css
- lib/tagsinput/jquery.tagsinput.css
- lib/daterangepicker/daterangepicker-bs3.css
- lib/datepicker/css/datepicker.css
- lib/timepicker/css/bootstrap-timepicker.min.css
- lib/switch/build/css/bootstrap3/bootstrap-switch.min.css
- lib/jasny/css/jasny-bootstrap.min.css
- lib/datatables/css/demo_page.css
- lib/datatables/css/DT_bootstrap.css
- lib/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css
- lib/gritter/css/jquery.gritter.css
- lib/uniform/themes/default/css/uniform.default.min.css
- css/bootstrap-fileupload.min.css
- css/pages/users.min.css
cdnjs:
- //ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js
javascripts:
- lib/uniform/jquery.uniform.min.js
- lib/inputlimiter/jquery.inputlimiter.1.3.1.min.js
- lib/chosen/chosen.jquery.min.js
- lib/colorpicker/js/bootstrap-colorpicker.js
- lib/tagsinput/jquery.tagsinput.min.js
- lib/validVal/src/js/jquery.validVal.min.js
- lib/daterangepicker/daterangepicker.js
- lib/daterangepicker/moment.min.js
- lib/datepicker/js/bootstrap-datepicker.js
- lib/timepicker/js/bootstrap-timepicker.min.js
- lib/switch/build/js/bootstrap-switch.min.js
- lib/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js
- lib/autosize/jquery.autosize.min.js
- lib/jasny/js/jasny-bootstrap.min.js
- lib/tablesorter/js/jquery.tablesorter.min.js
- lib/touch-punch/jquery.ui.touch-punch.min.js
- lib/plupload/js/plupload.full.min.js
- lib/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js
- lib/gritter/js/jquery.gritter.min.js
- lib/uniform/jquery.uniform.min.js
- lib/form/jquery.form.js
- lib/jquery-validation-1.11.1/dist/jquery.validate.min.js
- lib/jquery-validation-1.11.1/localization/messages_ja.js
- lib/jquery.plist.js
- lib/datatables/jquery.dataTables.js
- lib/datatables/DT_bootstrap.js
- lib/touch-punch/jquery.ui.touch-punch.min.js
- js/pages/users.min.js

scripts: 
- $(function() { formGeneral(); });
---

<div class="row">
  <div class="col-lg-12">
        <div class="box">
            <header>
                <div class="icons"><i class="fa fa-table"></i></div>
                <h5 localize>Users</h5>
            </header>
            <div id="collapse4" class="body">
            	<p><a data-toggle="modal" data-original-title="New" data-placement="bottom" class="btn  btn-primary" href="#userInfoModal" localize>New user</a></p>
                <table id="usersDataTable" class="table table-bordered table-condensed table-hover table-striped">
					<thead>
					<tr>
						<th localize>User Name</th>
						<th localize>Password</th>
						<th class="text-center" style="width: 80px;" localize>Status</th>
					</tr>
					</thead>
					<tbody>
					</tbody>                
				</table>
            </div>
        </div>
    </div>
</div>
<!-- modal-->
    <div id="userInfoModal" class="modal fade new-user-dlg">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
              <span class="userdlg-new" localize>Create new user</span>
              <span class="userdlg-update" localize>Update user</span>
            </h4>
          </div>
          <div class="modal-body">
              <form class="form-horizontal">
                 <div class="form-group">
                    <label for="id" class="control-label col-lg-4" localize>User ID</label>

                     <div class="col-lg-3">
                        <input type="text" name="username" placeholder="ID" class="form-control" localize="_.attr('placeholder','username_placeholder')">
                    </div>
		       	</div>
                 <div class="form-group">
                    <label for="pswd" class="control-label col-lg-4" localize>Password</label>

                     <div class="col-lg-3">
                        <input type="text" name="password" placeholder="Password" class="form-control" localize="_.attr('placeholder','password_placeholder')">
                    </div>
		       	</div>
		       	 <div class="form-group">
                    <div class=" col-lg-4"></div>

                    <div class="col-lg-8">
                        <button class="btn btn-primary ladda-button action-btn" data-style="slide-down">
                            <span class="ladda-label">
                              <span class="userdlg-new" localize>Create</span>
                              <span class="userdlg-update" localize>Update</span>
                            </span>
                        </button>
                    </div>
                </div> 

                 </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --><!-- /#helpModal -->
