.item-title {
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
.item-title, .item-budget {
  color: rgb(113, 186, 211);
}
.items-list {
  padding: 0px;
  margin: 0px;
}
.items-list li {
  cursor: pointer;
  list-style: none;
  position: relative;
  width: 100%;
  border-bottom: 1px solid darkgrey;
  padding-bottom: 4px;
}
.item-icons .item-icon {
  margin-right: 4px;
}
.item-thumbnail {
  transform-origin: 0 0 0;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
 	-webkit-transform: rotate(90deg);
 	-o-transform: rotate(90deg);
  -webkit-transform-origin: 0 0 0;
 	-o-transform-origin: 0 0 0;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.item-thumbnail img {
  clip: rect(0px, 80px, 40px, 0px);
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
}
.item-pair-list dt {
  float: left;
  margin-right: 4px;
}
.sort-list { 
  text-align: right;
}

.clearb { 
  clear: both;
}

@media (min-width:601px) {
  #sidebar {
    width: 300px;
  }
  #csvreader {
    margin-left: 300px;
  }
}