.filter-info, .sort-info {
  display: none;
}

#csvfilters {
  display: block;
  float: left;
  width: 150px;
}
#csvreader {
  margin-left: 170px;
}

.sortable {
  cursor: pointer;
}
.sort-icon {
  
}
