@pdfviewer-page-item-width: 75px;
@pdfviewer-page-item-height: 100px;

.pdfviewer {
  position: relative;
  overflow: auto;
  .pdfviewer-canvas {
    position: relative;
  }
  .page-selector {
    background: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 2;
  }
  .pages-preview {
    list-style: none;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    .active {
      background-color: lightgoldenrodyellow;
      transition: background-color ease-in .5s;
    }
  }
  .page-item {
    display: inline-block;
    cursor: pointer;
    width: @pdfviewer-page-item-width;
    height: @pdfviewer-page-item-height;
    margin:0px 5px;
    transition: background-color ease-out .5s;
    .page-num {
      display: block;
      text-align: center;
    }
    .page-thumbnail {
      width: @pdfviewer-page-item-width;
      height: @pdfviewer-page-item-height - 20;
    }
  }
  .links-div {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    .annot-link:hover {
      background-color: rgba(240, 220, 20, .25);
    }
  }
  .vjs-default-skin .vjs-big-play-button,
  .vjs-default-skin .vjs-control-bar {
    font-size: .1%;
  }
  .flexslider:hover .flex-next,
  .flex-direction-nav .flex-next  {
    right: 0px;
  }
  .flexslider:hover .flex-prev,
  .flex-direction-nav .flex-prev {
    left: 0px;
  }
  .flex-direction-nav a,
  .flex-direction-nav a:before {
    font-size: inherit;
    line-height: 1;
  }
  .flex-pauseplay a:before {
    font-size: inherit;
  }
  .flex-pauseplay a {
    width: auto;
    height: auto;
    left: 2px;
    bottom: 2px;
  }

  .flex-viewport {
    height: 100%;
  }
  .fullscreen-view {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 10 !important;
    width: 100% !important;
    height: 100% !important;
  }
  .slideshow-theme-black {
    background-color: black;
    border-color: black;
    .flex-direction-nav a,
    .flex-pauseplay a {
      color: white;
    }
  }
  .slideshow-theme-white {
    background-color: white;
    border-color: white;
    .flex-direction-nav a,
    .flex-pauseplay a {
      color: black;
    }
  }
  .slideshow {
    position: absolute;
    .slides {
      display: table !important;
      height: 100%;
      li {
        display: table-cell !important;
        vertical-align: middle;
        float: none !important;
      }
      img {
        width: 100%;
      }
    }
  }
}
.controls {
  position: relative;
  z-index: 3;
}
.previous-btn, .next-btn {
  position: fixed;
  display: table;
  height: 100%;
  font-size: 20px;
  background: rgba(255, 255, 255, .5);
}
.previous-btn i, .next-btn i {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}
.previous-btn:hover, .next-btn:hover {
  background: rgba(255, 255, 255, 1);
}
.previous-btn {
  padding: 0px 6px;
  left: 0px;
  top: 0px
}
.next-btn {
  padding: 0px 6px;
  right: 0px;
  top: 0px;
}
.pdfviewer-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  z-index: 5;
}
.pdfviewer-loadingscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 4;
  top: 0px;
  left: 0px;
  span {
    position: absolute;
    top: 50%;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    margin-top: -9px;
    color: black;
    font-size: 18px;
    display: inline-block;
    text-align: center;
  }
}
.in-fullscreen-view {
  visibility: hidden;
  .fullscreen-view {
    visibility: visible;
  }
}