.dark-bkg {
  background: black;
  .headline {
    color: white;
    background: black;
  }
  
  .mag-item,
  .mag-item a {
    color: white;
  }
  
  /* theme effect on pdfviewer */
  .pdfviewer {
    color: white;
    .page-selector {
      background: black;
    }
    .pages-preview .active {
      background-color: #333333;
    }
  }
  .controls a {
    color: white;
    background: rgba(0, 0, 0, .5);
  }
  .controls a:hover {
    background: rgba(0, 0, 0, 1);
  }
  .pdfviewer-loadingscreen {
    background: black;
    span {
      color: white;
    }
  }
}

.light-bkg {
  background: white;
  .headline {
    color: black;
    background: lightgrey;
  }
  
  .mag-item,
  .mag-item a {
    color: black;
  }
  .label-default {
    background-color: lightgrey;
  }

}
