        <div class="media user-media">
          <div class="user-media-toggleHover">
            <span class="fa fa-user"></span> 
          </div>
          <div class="user-wrapper">
            <a class="user-link" href="">
              <img id="app-icon" class="media-object img-thumbnail user-img" alt="App Icon" src="assets/img/user.gif">
            </a> 
            <div class="media-body">
              <h5 id="publisher-name" class="media-heading">Publisher</h5>
              <ul id="app-list" class="list-unstyled user-info">
                <li></li>
              </ul>
            </div>
          </div>
        </div>
<!-- #menu -->
<ul id="menu" class="">
    <li class="nav-header">Menu</li>
    <li class="nav-divider"></li>
       <li class="{{#is topTitle 'Setup'}}active{{/is}}">
        <a href="javascript:;">
            <i class="fa fa-cog"></i>
            <span class="link-title">
              Setup
            </span>
	    <span class="fa arrow"></span>
        </a>
        <ul>
            <li class="{{#is title "Icons"}}active{{/is}}">
	      <a href="icons.html"><i class="fa fa-angle-right"></i>&nbsp;Icons</a>
            </li>
            <li class="{{#is title "Buttons"}}active{{/is}}">
	      <a href="button.html"><i class="fa fa-angle-right"></i>&nbsp;Button</a>
	    </li>
            <li class="{{#is title "Progress"}}active{{/is}}">
	      <a href="progress.html"><i class="fa fa-angle-right"></i>&nbsp;Progress</a>
	    </li>
            <li class="{{#is title "Pricing Table"}}active{{/is}}">
	      <a href="pricing.html"><i class="fa fa-credit-card"></i>&nbsp;Pricing Table</a>
	    </li>
            <li class="{{#is title "Bg Image"}}active{{/is}}">
	      <a href="bgimage.html"><i class="fa fa-angle-right"></i>&nbsp;Bg Image</a>
	    </li>
	    <li class="{{#is title "Bg Color"}}active{{/is}}">
	      <a href="bgcolor.html"><i class="fa fa-angle-right"></i>&nbsp;Bg Color</a>
	    </li>
        </ul>
    </li>
	<li{{#is title "Publications"}} class="active"{{/is}}><a href="publications.html"><i class="fa fa-book"></i>
    <span class="link-title">
     Publications
          </span></a></li>
    <li{{#is title "Interstitials"}} class="active"{{/is}}><a href="interstitials.html"><i class="fa fa-usd"></i>
    <span class="link-title">
     Interstitials
          </span></a></li>
    <li{{#is title "Subscribers"}} class="active" {{/is}}><a href="subscribers.html"><i class="fa fa-user"></i>
    <span class="link-title">
            Subscribers
          </span> </a></li>
    <li{{#is title "Push"}} class="active" {{/is}}><a href="push.html"><i class="fa fa-bell"></i>
    <span class="link-title">
            Push
          </span> </a></li>
    <li{{#is title "Tracking"}} class="active" {{/is}}><a href="tracking.html"><i class="fa fa fa-bar-chart-o"></i>
    <span class="link-title">
            Tracking
          </span></a></li>
</ul>
<!-- /#menu -->
