<!-- #menu -->
<ul id="menu" class="">
    <li class="nav-header">Menu</li>
    <li class="nav-divider"></li>
    <li{{#is title "Push"}} class="active" {{/is}}><a href="push.html"><i class="glyphicon glyphicon-cloud-download"></i>
    <span class="link-title">
            Push
          </span> </a></li>
	<li{{#is title "File Manager"}} class="active"{{/is}}><a href="file.html"><i class="fa fa-file"></i>
    <span class="link-title">
      File Manager
          </span></a></li>
    <li{{#is title "Charts"}} class="active" {{/is}}><a href="chart.html"><i class="fa fa fa-bar-chart-o"></i>
    <span class="link-title">
            Charts
          </span></a></li>
     <li class="nav-divider"></li>
    <li><a href="login.html"><i class="fa fa-sign-in"></i>
    <span class="link-title">
    Login Page
    </span>
    </a></li>
</ul>
<!-- /#menu -->