<!-- Open Publication Dialog -->
<div id="librelio-open-publication-dlg" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>
          <span class="select-publication">Select a publication</span>
          <span class="select-type">Select type of publication</span>
        </h5>
      </div>
      <div class="modal-body">
        <div class="select-publication publications-list list-group">
            <a data-id="default" class="list-group-item" href="#" data-content="name" data-bind="click=select"></a>
        </div>
        <div class="select-type types-list list-group">
          <a data-id="default" class="list-group-item" href="#" data-content="name" data-bind="click=select"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->
