<div id="notsupported-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Not supported!</h4>
      </div>
      <div class="modal-body">
      <p>
        This HTML5 version is not intended for your device. 
        You should use a native version instead 
        <a id="notsupported-native-link" href="">Click Here</a>
      </p>
      <p>
        If you prefer to continue with the HTML5 version, please 
        <a id="notsupported-force-link" href="">Click Here</a>
      </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
