<div class="col-md-8 col-md-push-4">
  <div id="home-top-slider" style="width:1300px;height:750px;">
    <div u="slides" class="slides">
      <div>
        <img u="image" alt="" src="{{assets}}/img/home.png" />
      </div>
      <div>
        <img u="image" alt="" src="{{assets}}/img/home.png" />
      </div>
    </div>
  </div>
</div>
