<!-- The footer, social media icons, and copyright -->
<footer class="page color-5">
	<div class="inner-page row">
		<div class="col-md-4 social">
			<a href="https://twitter.com/librelio">
			<i class="fa fa-twitter">
			</i>
		</a>
		<a href="https://github.com/libreliodev">
		<i class="fa fa-github-square">
		</i>
	</a>
	<a href="https://www.facebook.com/librelio">
	<i class="fa fa-facebook-square">
	</i>
</a>
</div>
<div class="col-md-8 text-right copyright">
	&copy; 2015 Librelio | Created in France
{{#foreach_hbs_in 'src/templates/site/'}}
{{#unless home_page}}
| <a href="{{replace filename '.hbs' '.html'}}">{{label}}</a>
{{/unless}}
{{/foreach_hbs_in}}

	| <a href="#top" title="Got to top" class="scroll">
		To top 
	<i class="fa fa-caret-up">
	</i>
</a>
</div>
</div>
</footer>
