		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<i class="fa fa-bars">
						</i>
					</button>
					<a class="navbar-brand" href="index.html">
						<img src="{{assets}}/img/logo.png" alt="Logo" width="92" />
					</a>
				</div>
				<div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li{{#if home_page }} class="active"{{/if}}>
							<a title="Home page" class="scroll brand-1" href="{{#unless home_page }}index.html{{/unless}}#home">
								Home
							</a>
						</li>
						<li>
							<a title="Check out our awesome features" href="{{#unless home_page }}index.html{{/unless}}#features" class=" scroll brand-4">
								Features
							</a>
						</li>
						<li>
							<a title="How it works" href="{{#unless home_page }}index.html{{/unless}}#howitworks" class="scroll brand-3">
								How it works
							</a>
						</li>
						<li>
							<a title="How much" href="{{#unless home_page }}index.html{{/unless}}#pricing" class="scroll fadeto brand-4">
								Pricing
							</a>
						</li>
						<li>
							<a title="Get in touch!" href="{{#unless home_page }}index.html{{/unless}}#contact" class="scroll brand-2">
								Contact
							</a>
						</li>
						<!-- 
												<li>
							<a href="http://www.librelio.com/wp-login.php?redirect_to=%2Fadmin">Log in</a>						</li>-->
					</ul>
				</div>
			</div>
<!-- /.navbar-container -->
		</nav>
