
<div class="newsletter color-1">
<div class="inner-page row">
<div class="col-md-4">
<h4><strong> Subscribe to get our latest news </strong></h4>
</div><form id="newsletterform">
<div class="col-md-6"><input type="hidden" name="form_id" value="2"><input class="subscribe" type="email" name="1" placeholder="your@e-mail.com" /></div>
<div class="col-md-2"><button class="btn btn-primary pull-right btn-block" type="submit"> Subscribe </button></div>
</form>
</div>
</div>