---
title: Login Page
---
<div class="container">
    <div class="text-center">
        <img src="assets/img/logo.png" alt="Metis Logo">
    </div>
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            <form action="index.html" class="form-signin">
                <p class="text-muted text-center">
                    Enter your AWS Access Key ID and password
                </p>
                <input type="text" id="key" placeholder="Access Key ID" class="form-control">
                <input type="password" id="secret" placeholder="Secret Access Key" class="form-control">
                <input type="text" id="dir" placeholder="Root directory" class="form-control">
			   <div class="text-muted text-center">
					<label>
						<input class="uniform" type="checkbox" id="remember" value="1">&nbsp; Remember me on this computer
					</label>
				</div>
                 <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </form>
        </div>
 

</div> <!-- /container -->