---
title: Login Page
---
<div class="container">
    <div class="text-center">
        <img src="assets/img/logo.png" alt="Metis Logo">
    </div>
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            <form action="index.html" class="form-signin">
                <p class="text-muted text-center">
                    Enter your AWS Access Key ID and password
                </p>
                <input name="access-key-id" type="text" placeholder="Access Key ID" class="form-control">
                <input name="secret-access-key" type="password" placeholder="Secret Access Key" class="form-control">
                <input name="root-directory" type="text" placeholder="Root directory" class="form-control">
			   <div class="text-muted remember-me-wrp">
					<label>
						<input id="remember-me" class="uniform" type="checkbox" value="remember">&nbsp; Remember me on this computer
					</label>
				</div>
                <button class="btn btn-primary btn-lg btn-block ladda-button" data-style="slide-down">
                    Log in
                </button>
                <div class="oauth2-wrp">
<!--                   <div class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="false" data-auto-logout-link="false" onlogin="loggedInFacebook"></div> -->
                  <a href="#" class="fb-signin-btn"><img alt="Login with facebook" src="{{assets}}/img/fb-login-en-large.png" /></a>
                  <a href="#" class="gp-signin-btn"><img alt="Sign in with google plus" src="{{assets}}/img/gp-signin-en-large.png" /></a>
<!-- 
                  <span
                     id="gp-login-btn"
                     class="g-signin"
                     data-clientid="{{ config.idFedGPAppId }}"
                     data-height="short"
                     data-callback="loggedInGooglePlus"
                     data-cookiepolicy="single_host_origin"
                     data-requestvisibleactions="http://schemas.google.com/AddActivity"
                     data-scope="https://www.googleapis.com/auth/plus.login">
 -->
                  </span>
                </div>
            </form>
        </div>
 

</div> <!-- /container -->

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId={{ config.idFedFBAppId }}&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
