---
title: Customer agreement |  Librelio
label: Customer agreement
content: src/data/customer-agreement.md
---
<div id="sample-page" class="page color-4">
<div class="inner-page">
{{ md content }}
</div>
</div>
{{> site_subscribe_form }}
