---
title: Librelio - Digital publishing solutions
home_page: true
---
<div class="page color-1" id="home">
<div class="inner-page">
<h2 class="page-headline large">Digital Publishing Solutions Done Right.</h2>
</div>
<div class="row inner-page">
<div class="col-md-8 col-md-push-4 "><img alt="" src="{{assets}}/img/home.png" /></div>
<div class="col-md-4 col-md-pull-8">
<ul class="big-list">
<li><i class="fa fa-github"> </i> Open Source</li>
<li><i class="fa fa-tablet"> </i> Native Apps</li>
<li><i class="fa fa-cloud"> </i> Cloud Hosting</li>
<li><i class="fa fa-bell-o"> </i> Push Messages</li>
</ul>
<p><a class="scroll btn btn-primary btn-centered" title="Learn more" href="#features"> <i class="fa fa-caret-down"> </i>&nbsp;Learn more </a></p>
</div>
</div>
</div>
<div class="sign-up color-2 visible-lg">
<div class="row inner-page">
<div class="col-md-12">
<h4 class="pull-left">Learn how to get your branded app(s) on iOS, Android and Windows 8.</h4>
<p><a class="scroll btn btn-primary pull-right" title="Check out more features!" href="#features"> <i class="fa fa-caret-down"> </i>&nbsp;Scroll down </a></p>
</div>
</div>
</div>
<p><!-- /.sign-up --><!-- Feature page--></p>
<div class="page color-4" id="features">
<div class="inner-page">
<h2 class="page-headline">Why should you choose Librelio?</h2>
</div>
<div class="inner-page row">
<ul class="features list-inline">
<li>
<h3><i class="fa fa-cog"> </i>&nbsp;We're native</h3>
<p>Use your own graphic elements. Include your publications, Facebook page, website, RSS feed and more.</li>
<li>
<h3><i class="fa fa-github"> </i>&nbsp;We're open</h3>
<p>You can <a href="https://github.com/libreliodev"> download </a> our code to build and submit your apps, or ask us to do it for you. Your choice.</li>
<li>
<h3><i class="fa fa-refresh"> </i>&nbsp;We're elastic</h3>
<p>Just upload your new publications to our cloud server. The apps will be updated automatically.</li>
</ul>
</div>
<div class="row inner-page">
<div class="col-md-6"><img alt="iPhones" src="{{assets}}/img/two-phones.png" /></div>
<div class="col-md-6">
<h3>Leverage your contents</h3>
<p class="lead">No need reinvent the wheel. You can use your existing contents in a native environment:</p>
<ul class="list-wide">
<li><i class="fa fa-check"> </i> Enhanced web view for your site and Facebook page</li>
<li><i class="fa fa-check"> </i> Multimedia reader for your videos &amp; slide shows</li>
<li><i class="fa fa-check"> </i> Map viewer for your geolocation</li>
<li><i class="fa fa-check"> </i> RSS reader for your feeds</li>
<li><i class="fa fa-check"> </i> PDF reader and download manager for your publications</li>
</ul>
</div>
</div>
<hr />
<p><!-- Video --></p>
<div class="row inner-page">
<div class="col-md-6 col-md-push-6"><iframe src="//www.youtube.com/embed/JRRk6-LajNw" height="315" width="420" allowfullscreen="" frameborder="0"></iframe></div>
<div class="col-md-6 col-md-pull-6">
<ul class="big-list">
<li><i class="fa fa-plus-square"> </i> Let your readers share contents</li>
<li><i class="fa fa-play"> </i> Embed videos and slide shows</li>
<li><i class="fa fa-bar-chart-o"> </i> Include dynamic maps and charts</li>
<li><i class="fa fa-cloud"> </i> Manage from the cloud</li>
</ul>
<p><a class="scroll btn btn-primary btn-centered" href="#howitworks"> <i class="fa fa-caret-down"> </i> How it works </a></p>
</div>
</div>
</div>
<p><!-- /#features --><!-- Assets page --></p>
<div class="page color-3" id="howitworks">
<div class="inner-page">
<h2 class="page-headline">Get your apps and publications online in 2 weeks.</h2>
</div>
<p><!-- Vectors --></p>
<div class="row inner-page">
<div class="col-md-5">
<h3>1- Choose A Plan That&#8217;s Right For You</h3>
<p>Depending on the service you need, you may choose one of our <a href="#pricing"> paid plans </a> , or even the free one.</p>
<h3>2- (Have Us) Build Your App(s)</h3>
<p>If you have chosen our <a href="#pricing"> publisher plan </a> , you will just need to fill a quick form, and we&#8217;ll take care of all technical steps. We&#8217;ll publish your app(s) in 48 hours . It usually takes about a week for Apple to approve apps and make them available on the App Store. No approval is needed on Google Play.</p>
<p>In case you want to sell your contents, we&#8217;ll need you to register as a developer with Apple, Google and Windows Store, which may take a bit longer.</p>
<h3>3- Upload Your Publications</h3>
<p>Whenever new publications are ready, simply upload them to our servers ( <a href="#pricing"> paid plans </a> only). Your app(s) will be updated automatically.</p>
<h3>4- Monitor Your App(s)</h3>
<p>Track your app(s) using Google Analytics. Send push messages to your users.</p>
</div>
<div class="col-md-7 "><iframe src="https://app.io/RJ7E9a?orientation=portrait&amp;device=ipadmini" height="886" width="595" frameborder="0" scrolling="no"></iframe></div>
</div>
<p><!-- Clients --></p>
<div class="clients color-1">
<div class="inner-page">
<h2 class="page-headline">Who&#8217;s using Librelio? A few examples</h2>
</div>
<div class="inner-page row">
<ul class="clients list-inline">
<li><a style="color: inherit;" href="https://github.com/libreliodev/iOS/wiki"> <i class="fa fa-apple"> </i>&nbsp; iOS </a></li>
<li><a style="color: inherit;" href="https://github.com/libreliodev/android/wiki"> <i class="fa fa-android"> </i>&nbsp; Android </a></li>
<li><a style="color: inherit;" href="https://github.com/libreliodev/windows8/wiki"> <i class="fa fa-windows"> </i>&nbsp; Win8 </a></li>
</ul>
</div>
</div>
</div>
<p><!-- /#assets --><!-- About page --></p>
<div class="page color-4" id="pricing">
<div class="inner-page">
<h2 class="page-headline">Choose the plan that works best for you.</h2>
</div>
<div class="row inner-page">
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-3">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Community</h3>
</div>
<div class="panel-body">
<div class="the-price">
<h1>Free</h1>
<p>As In Beer</p>
</div>
<table class="table">
<tbody>
<tr>
<td>-</td>
</tr>
<tr class="active">
<td>iOS+Android+Win8</td>
</tr>
<tr>
<td>Contents hosted on<br />
<strong> your </strong> servers</td>
</tr>
<tr class="active">
<td>-</td>
</tr>
<tr>
<td>-</td>
</tr>
<tr class="active">
<td>Apps compiled and<br />
submitted by <strong>you</strong></td>
</tr>
</tbody>
</table>
</div>
<div class="panel-footer"><a class="btn btn-primary" role="button" href="https://github.com/libreliodev"> Github </a></div>
</div>
</div>
<div class="col-xs-12 col-md-3">
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">Self hosted</h3>
</div>
<div class="panel-body">
<div class="the-price">
<h1>990€</h1>
<p>No recurring fees</p>
</div>
<table class="table">
<tbody>
<tr>
<td><strong>Free</strong> contents only</td>
</tr>
<tr class="active">
<td>iOS+Android</td>
</tr>
<tr>
<td>Contents hosted on<br />
<strong> your </strong> servers</td>
</tr>
<tr class="active">
<td>-</td>
</tr>
<tr>
<td>-</td>
</tr>
<tr class="active">
<td>Apps compiled and<br />
submitted by <strong>us</strong></td>
</tr>
</tbody>
</table>
</div>
<div class="panel-footer"><a class="btn btn-primary" role="button" href="#contact"> Contact </a></div>
</div>
</div>
<div class="col-xs-12 col-md-3">
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">Developer</h3>
</div>
<div class="panel-body">
<div class="the-price">
<h1>99€ <span class="subscript"> /mo </span></h1>
<p>1 Month Free Trial</p>
</div>
<table class="table">
<tbody>
<tr>
<td><strong>Free or paid</strong> contents</td>
</tr>
<tr class="active">
<td>iOS+Android+Win8</td>
</tr>
<tr>
<td>Up to <strong>500 Go</strong> hosted on<br />
<strong> our </strong> cloud servers</td>
</tr>
<tr class="active">
<td>Unlimited downloads (*)</td>
</tr>
<tr>
<td>Unlimited push (**)</td>
</tr>
<tr class="active">
<td>Apps compiled and<br />
submitted by <strong>you</strong></td>
</tr>
</tbody>
</table>
</div>
<div class="panel-footer"><a class="btn btn-primary" role="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=LK3WLSBY9X6PY"> Free trial </a></div>
</div>
</div>
<div class="col-xs-12 col-md-3">
<div class="cnrflash">
<div class="cnrflash-inner"><span class="cnrflash-label">FULL<br />
SERVICE</span></div>
</div>
<div class="panel panel-success">
<div class="panel-heading">
<h3 class="panel-title">Publisher</h3>
</div>
<div class="panel-body">
<div class="the-price">
<h1>199€ <span class="subscript"> /mo </span></h1>
<p>+ Setup Fees</p>
</div>
<table class="table">
<tbody>
<tr>
<td><strong>Free or paid</strong> contents</td>
</tr>
<tr class="active">
<td>iOS+Android+Win8</td>
</tr>
<tr>
<td>Up to <strong>500 Go</strong> hosted on<br />
<strong> our </strong> cloud servers</td>
</tr>
<tr class="active">
<td>Unlimited downloads (*)</td>
</tr>
<tr>
<td>Unlimited push (**)</td>
</tr>
<tr class="active">
<td>Apps compiled and<br />
submitted by <strong>us</strong></td>
</tr>
</tbody>
</table>
</div>
<div class="panel-footer"><a class="btn btn-primary" role="button" href="#contact"> Contact </a></div>
</div>
</div>
</div>
</div>
<div>*: up to 500 GB/month/app</div>
<div>**: up to 100,000 messages/month/app</div>
</div>
<p><!-- Team --></p>
</div>
<p><!-- /#about --><!-- Contact page --></p>
<div class="page color-2" id="contact">
<div class="inner-page">
<h2 class="page-headline">Get in touch and stay updated</h2>
</div>
<div class="row inner-page contact">
<div class="col-md-6">
<h3>What&#8217;s on your mind?</h3>
<form class="contact-form" id="contact-form"><input type="hidden" name="form_id" value="1" /><textarea class="form-control" name="3" placeholder="Your message" rows="10"></textarea> <input class="form-control" type="text" name="1" placeholder="your@e-mail.com" /> <input class="form-control" type="text" name="5" placeholder="Name" /> <button class="btn btn-primary btn-centered" type="submit"> Contact us </button></form>
</div>
<div class="col-md-6">
<div class="btn-container centered  text-center"><img alt="" src="{{assets}}/img/shutterstock_102565721sepia.jpg" /></div>
</div>
</div>
</div>
{{> site_subscribe_form }}
