---
title: Librelio - Digital Publishing Platform
home_page: true
---
<div class="page color-1" id="home">
      <div class="inner-page">
        <h2 class="page-headline large">#1 Open Source Digital Publishing Suite</h2>
      </div>
      <div class="row inner-page">
        <div class="col-md-6 col-md-push-6">
          <div id="home-top-slider" style="width:1300px;height:750px;">
            <div u="slides" class="slides">
              <div>
                <img u="image" alt="" src="assets/img/Banner1.png" />
              </div>
              <div>
                <img u="image" alt="" src="assets/img/Banner2.png" />
              </div>
              <div>
                <img u="image" alt="" src="assets/img/Banner3.png" />
              </div>
              <div>
                <img u="image" alt="" src="assets/img/Banner4.png" />
              </div>
              <div>
                <img u="image" alt="" src="assets/img/Banner5.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <ul class="big-list">
            <li>
              <i class="fa fa-tablet"></i>Open Source Native Apps </li>
            <li>
              <i class="fa fa-folder-o"></i>Open Source Back Office</li>
            <li>
              <i class="fa fa-plug"></i>Open Source Plug-ins</li>
            <li>
              <i class="fa fa-cloud"></i>Open Source Cloud SDKs</li>
          </ul>
          <p>
            <a class="scroll btn btn-primary btn-centered" title="Learn more" href="#features">
              <i class="fa fa-caret-down"></i>&nbsp;Learn more</a> 
          </p>
        </div>
      </div>
    </div>
    <div class="sign-up color-2 visible-lg">
      <div class="row inner-page">
        <div class="col-md-12">
          <h4 class="pull-left">Learn how to get your branded app(s) on iOS, Android, Windows 8 and in HTML5.</h4>
          <p>
            <a class="scroll btn btn-primary pull-right" title="Check out more features!" href="#features">
              <i class="fa fa-caret-down"></i>&nbsp;Scroll down</a> 
          </p>
        </div>
      </div>
    </div>
    <p><!-- /.sign-up -->

      <!-- Feature page-->
    </p>
    <div class="page color-4" id="features">
      <div class="inner-page">
        <h2 class="page-headline">Why should you choose Librelio?</h2>
      </div>
      <div class="inner-page row">
        <ul class="features list-inline">
          <li>
            <h3>
              <i class="fa fa-cog"></i>&nbsp;Customizable</h3>
            <p>Use your own graphic elements. Include your publications, Facebook page, website, RSS feed and more.</li>
          <li>
            <h3>
              <i class="fa fa-github"></i>&nbsp;Open Source</h3>
            <p>You can
              <a href="https://github.com/libreliodev">download</a> our code to build and submit your apps, or ask us to do it for you. Your choice.</li>
          <li>
            <h3>
              <i class="fa fa-refresh"></i>&nbsp;Easy updates</h3>
            <p>Just upload your new publications to our cloud server. The apps will be updated automatically.</li>
        </ul>
      </div>
      <div class="row inner-page">
        <div class="col-md-6">
          <img alt="iPhones" src="assets/img/Banner-leverage.png" />
        </div>
        <div class="col-md-6">
          <h3>Leverage your contents</h3>
          <p class="lead">We offer 4 different readers for your digital contents </p>
          <ul class="list-wide">
            <li>
              <i class="fa fa-check"></i>&nbsp;<b>Replica Reader</b>: based on PDF, this reader is suitable for magazine or news publishers who want to provide a digital version of their printed publications. Multimedia enhancements (videos, slide shows, animations) can be added </li>
            <li>
              <i class="fa fa-check"></i>&nbsp;<b>Data Reader</b>: based on SQLite, this reader is suitable for interactive publications, featuring multi criteria search, favorites, sharing and more</li>
            <li>
              <i class="fa fa-check"></i>&nbsp;<b>News Reader</b>: based on  XML/RSS format, this reader is suitable for delivering continuously updated contents</li>
            <li>
              <i class="fa fa-check"></i>&nbsp;<b>Responsive Reader</b>: based on  regular HTML format, this reader makes it possible to embed existing or specific web sites, with offline capabilities</li>
            </ul>
        </div>
      </div>
      <hr />
      <p>

        <!-- Video -->
      </p>
      <div class="row inner-page">
        <div class="col-md-6 col-md-push-6">
          <iframe src="//www.youtube.com/embed/JRRk6-LajNw" height="315" width="420" allowfullscreen="" frameborder="0"></iframe>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <ul class="big-list">
            <li>
              <i class="fa fa-share-alt"></i>Let your readers share contents</li>
            <li>
              <i class="fa fa-play"></i>Embed videos and slide shows</li>
            <li>
              <i class="fa  fa-line-chart "></i>Track using Google Analytics</li>
            <li>
              <i class="fa fa-bell"></i>Send Push Notifications</li>
          </ul>
          <p>
            <a class="scroll btn btn-primary btn-centered" href="#howitworks">
              <i class="fa fa-caret-down"></i>&nbsp;How it works</a> 
          </p>
        </div>
      </div>
    </div>
    <p><!-- /#features -->

      <!-- Assets page -->
    </p>
    <div class="page color-3" id="howitworks">
      <div class="inner-page">
        <h2 class="page-headline">Get your apps and publications online in no time.</h2>
      </div>
      <div class="row inner-page">
   	  <div class="col-md-3"><h3><i class="fa fa-sign-in" style="color:#3a9ac4;font-size:100px"></i></h3></div>
   	  <div class="col-md-9">
            <h3>Choose A Plan That&#8217;s Right For You</h3>         
                        <p>Depending on the service you need, you may choose one of our
            <a href="#pricing">paid plans</a>, or the community version.</p>
        </div>
        </div>
      <div class="row inner-page">
   	  <div class="col-md-3"><h3><i class="fa fa-cogs" style="color:#3a9ac4;font-size:100px"></i></h3></div>
   	  <div class="col-md-9">
            <h3>(Have Us) Build Your App(s)</h3>
          <p>If you have chosen our
            <a href="#pricing">publisher or enterprise plan</a>,  we&#8217;ll take care of all technical steps. We&#8217;ll publish your app(s) in 48 hours after receiving your specific graphic elements and settings . It usually takes about a week for Apple to approve apps and make them available on
            the App Store. No approval is needed on Google Play.</p>
        </div>
        </div>
      <div class="row inner-page">
   	  <div class="col-md-3"><h3><i class="fa fa-newspaper-o" style="color:#3a9ac4;font-size:100px"></i></h3></div>
   	  <div class="col-md-9">
          <h3>Create Your Contents As Usual</h3>
          <p>You don't need to use  specific formats or software to create contents for your app(s). You can optionally use our plug-ins to enhance your contents, by adding for examples videos or slides shows to pdf files</p>
        </div>
        </div>
      <div class="row inner-page">
   	  <div class="col-md-3"><h3><i class="fa fa-cloud-upload" style="color:#3a9ac4;font-size:100px"></i></h3></div>
   	  <div class="col-md-9">
          <h3>Upload Your Downloadable Contents</h3>
          <p>Whenever new publications are ready, simply upload them to our servers (
            <a href="#pricing">developer, publisher or enterprise plans</a> only). Your app(s) will be updated automatically.</p>
        </div>
        </div>
      <div class="row inner-page">
   	  <div class="col-md-3"><h3><i class="fa fa-tachometer" style="color:#3a9ac4;font-size:100px"></i></h3></div>
   	  <div class="col-md-9">
          <h3> Monitor Your App(s)</h3>
          <p>Track your app(s) using Google Analytics or another analytics provider of your choice (<a href="#pricing">Enterprise plan</a>). Send push messages to your users.</p>
          </div>
      </div>

      <div class="clients color-1">
        <div class="inner-page">
          <h2 class="page-headline">Who&#8217;s using Librelio? A few examples</h2>
        </div>
        <div class="inner-page row">
          <ul class="clients list-inline">
            <li>
              <a style="color: inherit;" href="https://github.com/libreliodev/iOS/wiki">
                <i class="fa fa-apple"></i>&nbsp; iOS</a> 
            </li>
            <li>
              <a style="color: inherit;" href="https://github.com/libreliodev/android/wiki">
                <i class="fa fa-android"></i>&nbsp; Android</a> 
            </li>
            <li>
              <a style="color: inherit;" href="https://github.com/libreliodev/windows8/wiki">
                <i class="fa fa-windows"></i>&nbsp; Win8</a> 
            </li>
            <li>
              <a style="color: inherit;" href="http://reader.librelio.com">
                <i class="fa fa-html5"></i>&nbsp; HTML5</a> 
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p><!-- /#assets -->

      <!-- About page -->
    </p>
    <div class="page color-4" id="pricing">
      <div class="inner-page">
        <h2 class="page-headline">Choose the plan that works best for you.</h2>
      </div>
      <div class="row inner-page">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Community</h3>
                </div>
                <div class="panel-body">
                  <div class="the-price">
                    <h1>Free                      <span class="subscript">&nbsp;</span> 
</h1>
                    <p>As In Beer</p>
                  </div>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td><strong>Unlimited apps</strong></td>
                      </tr>
                      <tr class="active">
                        <td>iOS+Android+Win8+HTML5</td>
                      </tr>
                      <tr>
                        <td>-
                          <br />
                          </td>
                      </tr>
                      <tr class="active">
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>-</td>
                      </tr>
                      <tr class="active">
                        <td>Apps compiled and
                          <br />submitted by <strong>you</strong> 
                        </td>
                      </tr>
                      <tr>
                        <td>-
                          <br/>&nbsp;
                          </td>
                      </tr>
                      <tr class="active">
                        <td><strong>Google</strong> Analytics
                          </td>
                      </tr>
                      <tr>
                        <td>-
                          <br />
                          </td>
                      </tr>
                      <tr class="active">
                        <td><strong>Community</strong> support
                          </td>
                      </tr>
                      <tr>
                        <td>-
                          <br />&nbsp;
                          </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                <div class="panel-footer">
                  <a class="btn btn-primary" role="button" href="https://github.com/libreliodev">Github</a> 
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Developer</h3>
                </div>
                <div class="panel-body">
                  <div class="the-price">
                    <h1>99€ 
                      <span class="subscript"> /mo </span> 
                    </h1>
                    <p>1 Month Free Trial</p>
                  </div>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td><strong>1</strong> app</td>
                      </tr>
                      <tr class="active">
                        <td>iOS+Android+Win8+HTML5</td>
                      </tr>
                      <tr>
                        <td>Up to <strong>500 Go</strong>storage</td>
                      </tr>
                      <tr class="active">
                        <td>Unlimited downloads (*)</td>
                      </tr>
                      <tr>
                        <td>Unlimited push (**)</td>
                      </tr>
                      <tr class="active">
                        <td>Apps compiled and
                          <br />submitted by <strong>you</strong> 
                        </td>
                      </tr>
                       <tr>
                        <td>List of subscribers
                          <br />hosted by Librelio
                          </td>
                      </tr>
                      <tr class="active">
                        <td><strong>Google</strong> Analytics
                          </td>
                      </tr>
                      <tr>
                        <td>-
                          <br />
                          </td>
                      </tr>
                      <tr class="active">
                        <td><strong>Standard</strong> support<br/>
                          </td>
                      </tr>
                      <tr>
                        <td>Standard back-office                          <br />&nbsp;
                          </td>
                      </tr>
                       
                    </tbody>
                  </table>
                </div>
                <div class="panel-footer">
                  <a class="btn btn-primary" role="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=LK3WLSBY9X6PY">Free trial</a> 
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="cnrflash">
                <div class="cnrflash-inner"><span class="cnrflash-label">MOST<br />
POPULAR</span> 
                </div>
              </div>
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">Publisher</h3>
                </div>
                <div class="panel-body">
                  <div class="the-price">
                    <h1>199€ 
                      <span class="subscript"> /mo </span> 
                    </h1>
                    <p>+ Setup Fees</p>
                  </div>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td><strong>1</strong>  app</td>
                      </tr>
                      <tr class="active">
                        <td>iOS+Android+Win8+HTML5</td>
                      </tr>
                      <tr>
                        <td>Up to <strong>500 Go</strong>  storage</td>
                      </tr>
                      <tr class="active">
                        <td>Unlimited downloads (*)</td>
                      </tr>
                      <tr>
                        <td>Unlimited push (**)</td>
                      </tr>
                      <tr class="active">
                        <td>Apps compiled and
                          <br />submitted by <strong>us</strong> 
                        </td>
                      </tr>
                       <tr>
                        <td>List of subscribers
                          <br />hosted by Librelio
                          </td>
                      </tr>
                      <tr class="active">
                        <td><strong>Google</strong> Analytics
                          </td>
                      </tr>
                      <tr>
                        <td>-
                          <br />
                          </td>
                      </tr>
                      <tr class="active">
                        <td><strong>Standard</strong> support<br/>
                          </td>
                      </tr>
                      <tr>
                        <td>Standard back-office                          <br />&nbsp;
                          </td>
                      </tr>
                          
                    </tbody>
                  </table>
                </div>
                <div class="panel-footer">
                  <a class="btn btn-primary" role="button" href="#contact">Contact</a> 
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Enterprise</h3>
                </div>
                <div class="panel-body">
                  <div class="the-price">
                    <h1>Quote <span class="subscript">&nbsp;</span></h1>
                    <p><a href="#contact">Contact us</a></p>
                  </div>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td><strong>Multiple</strong>  apps</td>
                      </tr>
                      <tr class="active">
                        <td>iOS+Android+HTML5</td>
                      </tr>
                      <tr>
                        <td>Up to <strong> 5000Go </strong>storage</td>
                      </tr>
                      <tr class="active">
                        <td>Unlimited downloads (*)</td>
                      </tr>
                      <tr>
                        <td>Unlimited push (**)</td>
                      </tr>
                      <tr class="active">
                        <td>Apps compiled and
                          <br />submitted by <strong>us</strong> 
                        </td>
                      </tr>
                        <tr>
                        <td>Optional connexion to <br/>your subscriber’s list
                          </td>
                      </tr>
                      <tr class="active">
                        <td><strong>Custom</strong> Analytics
                          </td>
                      </tr>
                      <tr>
                        <td>SLA
                          <br />
                          </td>
                      </tr>
                      <tr class="active">
                        <td><strong>Priority</strong> support
                          </td>
                      </tr>
                      <tr>
                        <td>Customized back-office with triggers
                          </td>
                      </tr>
                         
                    </tbody>
                  </table>
                </div>
                <div class="panel-footer">
                  <a class="btn btn-primary" role="button" href="#contact">Contact</a> 
                </div>
              </div>
            </div>

          </div>
        </div>
        <div>*: up to 500 GB/month/app</div>
        <div>**: up to 100,000 messages/month/app</div>
      </div>
      <p>

        <!-- Team -->
      </p>
    </div>
    <p><!-- /#about -->

      <!-- Contact page -->
    </p>
    <div class="page color-2" id="contact">
      <div class="inner-page">
        <h2 class="page-headline">Get in touch and stay updated</h2>
      </div>
      <div class="row inner-page contact">
        <div class="col-md-6">
          <h3>What&#8217;s on your mind?</h3>
          <form class="contact-form" id="contact-form">
            <input type="hidden" name="form_id" value="1" />
            <textarea class="form-control" name="3" placeholder="Your message" rows="10"></textarea>
            <input class="form-control" type="text" name="1" placeholder="your@e-mail.com" />
            <input class="form-control" type="text" name="5" placeholder="Name" />
            <button class="btn btn-primary btn-centered" type="submit">Contact us</button>
          </form>
        </div>
        <div class="col-md-6">
          <div class="btn-container centered  text-center">
            <img alt="" src="assets/img/shutterstock_102565721sepia.jpg" />
          </div>
        </div>
      </div>
    </div>
 
{{> site_subscribe_form }}
