---
title: Mentions légales |  Librelio
---
<div id="sample-page" class="page color-4">
<div class="inner-page">
			<p>Ce site est édité et maintenu par Librelio, SAS au capital de 50.000 €, RCS THONON 433 531 431</p>
<p>WidgetAvenue a son siège social à: 24, rue du Centre &#8211; 74350 CRUSEILLES &#8211; France.</p>
<p>Le responsable de ce site est Emmanuel Prat, Président.</p>
<p>Le site est hébergé en mode cloud par Amazon Web Services.</p>
<p>Le site (initialement LogDirect.com) a fait l&#8217;objet d&#8217;une déclaration auprès de la CNIL sous le numéro 1190767.</p>

</div>
</div>
{{> site_subscribe_form }}
