<style>
.tmpl-year {
  color: blue;
}
#csvtable tbody td {
  padding: 3px 0px;
}
#csvtable th {
  text-align: center;
}
#csvtable tbody tr {
  cursor: pointer;
}
</style>
<table id="csvtable">
  <thead>
    <tr>
      <th style="width:70px" class="tmpl-year csvcolumn" data-name="Year" data-key="0" data-filterable data-sortable>
        Year
        <!-- plist dict tag -->
        <dict class="filter-info">
          <key>Type</key>
          <string>Range</string>
          <key>Default</key>
          <dict>
            <key>From</key>
            <real>0</real>
            <key>To</key>
            <real>2014</real>
          </dict>
        </dict>
      </th>
      <th class="csvcolumn" data-name="Name" data-key="1" data-sortable>Name</th>
      <th class="csvcolumn" data-name="Something" data-key="9" data-filterable>
        Something
        <!-- plist dict tag -->
        <dict class="filter-info">
          <key>Type</key>
          <string>MultipleChoice</string>
          <key>AllChoice</key>
          <string>All</string>
          <key>Options</key>
          <array>
            <string>Atomic</string>
            <string>Apo</string>
            <string>Black Crows</string>
            <string>Blizzard</string>
          </array>
          <key>Default</key>
          <string>*</string>
        </dict>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-foreach="rows as row" data-bind="click=open_closeable_page('#detailpage',Object('row',row))">
      <td class="tmpl-year" data-content="row.0"></td>
      <td data-content="row.1" style="color:darkred;"></td>
      <td data-content="row.9"></td>
    </tr>
  </tbody>
</table>
<div id="detailpage" class="csvpage">
  <h3 data-content="row.1"></h3>
  <img data-attrs="src=row.8" height="100" />
  <div data-content-html="row.2"></div>
</div>
