---
title: CSV Reader
javascripts:
- lib/querystring.min.js
- lib/path.min.js
- lib/async.js
- lib/d3.min.js
- lib/jquery.plist.js
- lib/taffy-min.js
- js/csvreader.js
stylesheets:
theme: light-bkg
---
<div id="sidebar">
  <div id="sidebar-content">
    <div class="form-group">
      <input id="search-inp" type="text" class="form-control" placeholder="Search" />
    </div>
    <button type="button" class="favorites-toggle-btn btn btn-default">
      <span class="is-disabled">Show Favorites</span>
      <span class="is-enabled">Show All</span>
    </button>
    <div id="csvfilters" role="form">
      <fieldset data-id="Range">
        <label data-content="name"></label>
        <div class="form-group">
          <label>From</label>
          <input type="number" class="form-control" placeholder="From" name="From" data-attrs="value=From" />
        </div>
        <div class="form-group">
          <label>To</label>
          <input type="number" class="form-control" placeholder="To" name="To" data-attrs="value=To" />
        </div>
      </fieldset>
      <fieldset data-id="MultipleChoice">
        <label data-content="name"></label>
        <select multiple class="form-control">
          <option data-foreach="options as i=>option" data-attrs="value=option;selected=get(checked_options,option)" data-content="get(option_values,i)"></option>
        </select>
      </fieldset>
    </div>
  </div>
</div>
<a href="#" class="sidebartoggle"><i class="glyphicon glyphicon-list"></i></a>
<div id="csvreader">
</div>
