---
title: Issues
javascripts:
- lib/RGBColor.js
- lib/querystring.min.js
- lib/path.min.js
- lib/async.js
- js/magazine.js
scripts:
- window.accept_wapublication = 1;
---
<div class="reader-container">
  <div class="reader-background"></div>
  <div class="headline">
    <h4 class="text-center upperbar" localize>{{title}}</h4>
    <div class="upper-left">
      <div class="dropdown">
        <div id="logo-btn" class="dropdown-toggle" data-toggle="dropdown">
          <img src="" alt="Logo">
        </div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="logo-btn">
          <li class="site-item" role="presentation"><a role="menuitem" tabindex="-1" href="#" localize>WebSite</a></li>
          <li class="facebook-item" role="presentation"><a role="menuitem" tabindex="-1" href="#" localize>Facebook</a></li>
        </ul>
      </div>
    </div>
    <div class="upper-right-buttons">
      <button id="login-btn" type="button"
              class="btn btn-success" localize>Login</button>
      <button id="logout-btn" type="button"
              class="btn btn-default" localize>Logout</button>
    </div>
  </div>
  <div class="reader-content container">
  <div id="featured-cover">
    <div class="left-side" style="cursor:pointer" data-bind="click=open_cover_details_dialog(index,row)">
      <div class="cover-image-wrp">
        <img data-attrs="src=row.ThumbnailUrl" />
      </div>
    </div>
    <div class="right-side buttons-list">
      <div>
        <div class="info">
          <h3 class="title" data-content="row.Title"></h3>
          <p class="date" data-content="row.Subtitle"></p>
        </div>
        <div class="preview-btn-wrp">
          <button class="btn subs-btn" type="button" data-bind="click=magazine_open(row,true)"><span class="single-label">Free Preview</span></button>
        </div>
      </div>
      <div>
        <button class="btn subs-btn" type="button">
          <span class="price">3,99&#8364;</span>
          <span class="label">Buy this issue</span>
        </button>
      </div>
      <div>
        <button class="btn subs-btn" type="button">
          <span class="price">13,99&#8364;</span>
          <span class="label">Subscribe for 3 months</span>
        </button>
      </div>
      <div>
        <button class="btn subs-btn" type="button">
          <span class="price">23,99&#8364;</span>
          <span class="label">Subscribe for 1 year</span>
        </button>
      </div>
      <div>
        <button class="btn subs-btn" type="button">
          <span class="label">Already as subscriber?</span>
          <span class="label-big">Login in</span>
        </button>
      </div>
    </div>
  </div>
    <ul class="magazines">
      <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-id="default">
        <div class="mag-item">
          <div style="cursor:pointer" data-bind="click=open_cover_details_dialog(index,row)">
            <div class="mag-title" data-content="row.Title"></div>
            <div class="mag-subtitle" data-content="row.Subtitle"></div>
            <img class="mag-thumbnail" data-attrs="src=row.ThumbnailUrl" />
          </div>
          <a href="#" class="label label-default mag-read-btn"
             localize="'magazine_read_btn'">Read</a>
          <a href="#" class="label label-default mag-sample-btn mag-paid-type"
             localize="'magazine_sample_btn'" data-init="if(row.Description,this.remove())">Sample</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="cover-details" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="left-img-wrp">
        <img data-attrs="src=row.ThumbnailUrl" />
      </div>
      
      <div class="description" data-content="row.Description"></div>
      <div class="clearb"></div>
      <!-- 
      <div class="buttons-list">
        <div>
          <div class="info">
            <h3 class="title" data-content="row.Title"></h3>
            <p class="date" data-content="row.Subtitle"></p>
          </div>
          <div class="open-btn-wrp">
          </div>
        </div>
        -->
      <div class="buttons-list">
        <div>
          <button class="btn subs-btn" type="button" data-init="this.addClass(if(and(eeq(row.type,MAG_TYPE_PAID),eeq(logged_in,true)),'open-btn-full','open-btn-preview'))" data-bind="click=magazine_open(row,not(and(eeq(row.type,MAG_TYPE_PAID),eeq(logged_in,true))))">
            <span class="single-label">
              <span class="is-preview">Free Preview</span>
              <span class="is-full">Read</span>
            </span>
          </button>
        </div>
        <div data-foreach="subscriptions as sub">
          <a class="btn subs-btn" data-attrs="href=sub.link"><span class="single-label" data-content="sub.title"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> purchase_dialog }}
