---
title: PDF Reader
javascripts:
- lib/querystring.min.js
- lib/path.min.js
- lib/pdf.js/compatibility.js
- lib/pdf.js/pdf.js
- lib/async.js
- js/dhtml.js
- lib/RequestAnimationFrame.js
- lib/tween.min.js
- lib/video-js/video.dev.js
- lib/flexslider/jquery.flexslider-min.js
- js/pagecurl.js
- js/pdfviewer.js
- js/pdfviewer-main.js
- js/pdfviewer-video-player.js
- js/pdfviewer-slideshow.js
stylesheets:
- lib/video-js/video-js.css
- lib/flexslider/flexslider.css
---
<div class="controls">
  <a class="previous-btn" href="#"><i class="glyphicon glyphicon-step-backward"></i></a>
  <a class="next-btn" href="#"><i class="glyphicon glyphicon-step-forward"></i></a>
</div>
<div class="pdfviewer"
     data-resize="mod_style('width',screen_width(),'height',screen_height())">
  <div class="links-div">
  </div>
  <canvas class="pdfviewer-canvas">
    Could not initiate PDF Viewer. You should update your browser to see this page.
  </canvas>
  <div class="page-selector">
    <ul class="pages-preview">
      <li class="page-item" data-id="default">
        <span class="page-num" data-key="page_number"></span>
        <canvas class="page-thumbnail" 
                data-attr-keys="width=canvas_width(),height=canvas_height()" 
                data-onupdate="draw_page_when_visible('fit')"></canvas>
      </li>
    </ul>
  </div>
</div>
<div class="progress pdfviewer-progress">
  <div class="progress-bar" role="progressbar" style="width:0%;"></div>
</div>
<div class="pdfviewer-loadingscreen"><span>Loading...</span></div>
{{> purchase_dialog }}
