---
title: Table Reader
theme: light-bkg
stylesheets:
- lib/pivottable/pivot.min.css
javascripts:
- lib/querystring.min.js
- lib/path.min.js
- lib/async.js
- lib/d3.min.js
- lib/jquery.ui.core.min.js
- lib/jquery.ui.widget.min.js
- lib/jquery.ui.mouse.min.js
- lib/jquery.ui.draggable.min.js
- lib/jquery.ui.droppable.min.js
- lib/jquery.ui.sortable.min.js
- lib/pivottable/pivot.min.js
- js/tablereader.js
- js/tablereader-main.js
---
<div id="tablereader">
</div>
