---
title: TSV Reader
javascripts:
- lib/querystring.min.js
- lib/path.min.js
- lib/async.js
- lib/d3.min.js
- lib/taffy-min.js
- js/sharelist.js
- js/tsvreader.js
- js/TSVReaderModuleLoader.js
- js/tsvreader-main.js
stylesheets:
---
<div id="tsvreader">
</div>
